<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Liked Songs</title>
    <script src="https://unpkg.com/htmx.org"></script>
</head>

<body>
    <script type="module">
        import "https://js.supertab.co/v1/tab.js";
        window.supertab.createPurchaseButton({
            containerElement: document.getElementById("supertab"),
            clientId: "client.2915d9d7-724e-44e1-9f5d-01f5dddf009e",
            merchantName: "Playlist Generator",
            merchantLogoUrl: "YOUR_LOGO_URL",
            offeringId: "offering.d0dd46b7-304b-4f54-aa1b-2f4d430e5b67", // optional
            onPurchaseCompleted: () => {
                //insert your code to grant user access
                console.log("Purchase completed!");
            },
            onPurchaseCanceled: () => {
                //insert your code to handle when purchase is not completed
                console.log("Purchase canceled!");
            },
            onError: () => {
                //insert your code to handle an unexpected error
                console.log("Purchase error!");
            },
        });
    </script>
    <h1>Spotify Liked Songs Viewer</h1>
    <a href="/login">Login to Spotify</a>

    <div id="supertab">
        Put this on your tab.
    </div>
</body>

</html>